* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Arial, sans-serif;
}

/* -----Navigation Styling----- */
#navbar {
    background: #f5f5f5;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 10;
}
#navbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.5;
    z-index: -1;
}
#navbar .logo a {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    width: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: black;
}
.logo img {
    width: 40px;
    margin-right: 5px;
    margin-left: 20px;
}
#navbar .logo a:hover {
    color: white;
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar li {
    margin: 0 30px;
}
#navbar ul li {
    margin-left: 20px;
}
#navbar #link {
    color: #222;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
#navbar #link:hover {
    color: yellowgreen;
    background-color: #222;
    border-radius: 5px;
}

/* -----Welcome-section styling----- */
#welcome-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2.5em;
}
#welcome-section h1 {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 5.0em;
    margin-left: 1.0em;
    margin-top: 20vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-sub{
    font-size: 2.5em;
    color: yellowgreen;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 2.0em;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.subtitle {
    font-size: 1.5em;
    color: white;
    margin-left: 3.5em;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-right: 5.0em;

}
.subtitle.end{
    font-size: 2.5em;
    color: yellowgreen;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-self: center;
    padding-top: 20px;
}
span {
    color: white;
}

/* -----Card Section Layout Styling----- */
#card-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 20px;
}
.card {
    background: #222;
    text-decoration: none;
    color: yellowgreen;
    display: block;
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}
.card img{
    height: 250px;
    width: 100%;
    border-radius: 5px;
}
.card h3 {
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.card p {
    font-size: 16px;
    color: white;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* -----Styling for footeer----- */
footer {
    text-align: center;
    color: white;
    background: #333;
    padding: 10px;
}
footer p a{
    text-decoration: none;
    color: yellowgreen;
}
footer p{
    font-size: 1.1rem;
}
footer a:hover{
    color: gray;
}

/* -----Other Pages styling----- */
.main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3.5em;
    padding-right: 3.5em;
}
.sect{
    margin-bottom: 1.5em;
}
.sect h2{
    font-size: 2.5rem;
    padding-top: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 1.5rem;
}
.sect p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
    text-align: justify;
    padding-bottom: 1.0rem;
}
.sect ul{
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.sect ul li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 20px;
    color: #d3d3d3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
}
.sect.importance ul strong:hover{
    color: yellowgreen;
}
.sect2{
    padding-top: 28px;
}
.sect2 h2{
    font-size: 2.0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 1.0rem;
}
.sect2 #sub{
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
    text-align: justify;
    padding-bottom: 1.0rem;
}
.card.sol{
    background-color: #222;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
}
.card.sol h3{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: yellowgreen;
}
.card.sol p{
    padding-top: 8px;
    font-size: 1.2rem;
    text-align: justify;
}

/* -----Impact Page Styling----- */
.sect.impact strong{
    color: yellow;
}
.sect.impact li{
    padding-bottom: 20px;
}
.card.sus h3{
    font-size: 1.3rem;
    color: white;
}
.card.sus:hover{
    background-color: yellowgreen;

}
/* ------Image styling----- */
.eco{
    margin: auto 3.5em;
    display: block;
}
.eco-img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* ------Button Styling----- */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}
.action-btn {
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}
.action-button img{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.action-button img:hover{
    transform: scale(1.25);
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}

@media (max-width: 600px) {
    body{
        height: 100vh;
    }
    #navbar {
        display: flex;
        position: absolute;
    }
    #navbar ul {
        display: flex;
    }
    #navbar li {
        margin: 0 1.5rem;
    }
    #navbar ul li {
        margin-left: 0;
    }
    #navbar #link {
        padding: 0;
    }
    #welcome-section {
        color: white;
        align-items: flex-start;
        margin-bottom: 2.0rem;
    }
    #welcome-section h1 {
        letter-spacing: 1.0rem;
        font-size: 4.0em;
        margin-left: 0.8em;
        margin-top: 10vh;
        margin-bottom: 1.0rem;
    }
    .subtitle {
        font-size: 2.0rem;
        margin-left: 3.5rem;
        padding-right: 3.5rem;
    }
    #card-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }
    .card {
        background: #222;
        text-decoration: none;
        color: yellowgreen;
        display: block;
        padding: 15px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 5px;
    }
    .card img{
        height: 250px;
        width: 100%;
        border-radius: 5px;
    }
    .card h3 {
        padding-top: 10px;
        font-size: 2.0em;
        margin-bottom: 10px;
    }
    .card p {
        font-size: 1.5rem;
    }
    
}
@media (max-width: 360px){
    #navbar {
        display: flex;
        position: absolute;
    }
    #navbar ul {
        display: flex;
    }
    #navbar li {
        margin: 0 1.0rem;
    }
    #navbar ul li {
        margin-left: 0;
    }
    #navbar #link {
        font-size: 0.7rem;
        padding: 0;
    }
    #navbar .logo a {
        font-size: 1.0em;
    }
    .logo img {
        width: 20px;
        margin-left: 10px;
    }
    #welcome-section {
        margin-bottom: 2.0rem;
        margin-top: 5vh;
    }
    #welcome-section h1 {
        letter-spacing: 0;
        font-size: 2.0em;
        margin-left: 1.0em;
        margin-bottom: 1.0rem;
    }
    .subtitle {
        font-size: 1.0rem;
        margin-left: 2.0rem;
    }
    .main-sub{
        font-size: 1.0rem;
    }
    .subtitle.end{
        padding-top: 1.0rem;
        font-size: 1.2rem;
    }
    #card-box {
        max-width: 350px;
        width: 300px;
    }
    .card img{
        height: 200px;
    }
    .card h3 {
        font-size: 1.2rem;
    }
    .card p {
        font-size: 0.8rem;
    }
    footer p{
        font-size: 0.7rem;
    }
    .main{
        padding-left: 1em;
       padding-right: 1em;
    }
    .sect{
        margin-bottom: 1.0em;
    }
    .sect h2{
        letter-spacing: 2px;
        text-align: center;
        font-size: 1.5rem;
    }
    .sect p{
        font-size: 1.0rem;
    }
    .sect ul{
        background-color: #222;
        padding: 15px;
    }
    .sect ul li{
        font-size: 1rem;
    }
    .sect ul strong{
        display: flex;
        justify-content: flex-start;
        color: yellowgreen;
        padding-bottom: 5px;
    }
    .sect2{
        padding-top: 1.5em;
    }
    .sect2 h2{
        text-align: center;
        font-size: 1.6rem;
    }
    .sect2 #sub{
        font-size: 1.0rem;
    }
    .card.sol, .sus{
        padding: 1.2rem;
    }
    .card.sol h3{
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0;
    }
    .card.sol p{
        padding-top: 4px;
        font-size: 1.0rem;
    }
    .card.sus h3{
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0;
    }
    .card.sus p{
        padding-top: 4px;
        font-size: 1.0rem;
    }

    .action-button img{
        width: 30px;
        height: 30px;
    }
}